@import "tailwindcss";

/* Design tokens */
:root {
  --background: #ffffff;
  /* --foreground: #171717; */
}

/* Tailwind theme mapping */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Global body styles */
body {
  background-color: #ffffff;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}