@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 40, 44, 63;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 249, 250, 251;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer components {
    .btn-primary {
        @apply bg-primary hover:bg-primary-dark text-white px-4 py-2 rounded-lg font-bold transition-all disabled:opacity-50;
    }

    .card {
        @apply bg-white rounded-xl shadow-sm border border-gray-100 p-6;
    }

    .input-field {
        @apply w-full px-4 py-2 rounded-lg border border-gray-200 focus:border-primary focus:ring-1 focus:ring-primary outline-none transition-all;
    }
}